* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    overflow-x: hidden;

}

body {
    /* background-image: linear-gradient(45deg, rgb(255, 255, 0),rgb(246, 0, 246)); */
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: black;
    padding: 0 30px;
    z-index: 100;



}

.AAROHNA-logo {
    height: 100px;
    z-index: 100;
    padding-top: 20px;
    width: 300px;
    height: 400px;

}

.nav-unod-list {
    display: flex;
    /* padding-right: 20px; */
    list-style: none;
    color: blue;
}

.nav-list {
    color: blue;
}

.nav-link:link,
.nav-link:visited {
    margin: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: 0.5s;

}

.nav-link:hover,
.nav-link:active {
    background: white;
    color: rgb(73, 108, 223);
    padding: 5px;
    border-radius: 15px;


}

.hamburger {

    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    width: 40px;
    height: 40px;
}

.mobile-nav-icon[name="close-outline"] {


    display: none;

}
.AAROHNA-logo:hover{
    cursor: pointer;
}
/* Media querry for Navigation Bar */

@media(max-width:1200px) {
    .AAROHNA-logo {
        max-width: 80%;

    }

    .nav-link:link,
    .nav-link:visited {
        margin: 15px;
        display: inline-block;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        color: black;
        transition: 0.5s;

    }


}

@media(max-width:1050px) {
    .AAROHNA-logo {
        max-width: 60%;

    }

    .nav-link:link,
    .nav-link:visited {
        margin: 10px;
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: black;
        transition: 0.5s;

    }


}

@media(max-width:62em) {

    .hamburger {
        display: block;
        z-index: 110;
        color: #fff;
        margin-right: 20px;
    }

    .AAROHNA-logo {
        width: 40%;
    }

    .nav-bar {
        width: 100%;
        height: 100vh;
        background-color: white;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(10%);
        transition: all 1s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 99;
        overflow-x: hidden;




    }

    .nav-unod-list {
        flex-direction: column;
        align-items: center;
    }

    .active .nav-bar {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }

    .active .hamburger .mobile-nav-icon[name="close-outline"] {
        display: block;
        color: #000;
    }

    .active .hamburger .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }


    


}

/* Styling for Footer section */




.footer-section {
    border: 2px solid white;
    width: 100%;
    background: linear-gradient(90deg, rgb(100, 4, 15), #10052c);
    color: white;
    padding: 100px 0 30px;
    font-size: 15px;
    line-height: 20px;
}

.footer-section .footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-section .footer-column {
    flex-basis: 25%;
    padding: 10px;

}

.footer-section .footer-unod-list {

    list-style: none;
}

.footer-section .footer-links {
    color: white;
    text-decoration: none;
}

.footer-section .quick-links {
    padding-bottom: 20px;
}

.footer-section .footer-pgdav-logo {
    width: 250px;
}

/* Media Querry for footer section */

@media (max-width:970px) {


    .footer-section .quick-links {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}