*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    overflow-x: hidden;

}
body{
    /* background-image: linear-gradient(45deg, rgb(255, 255, 0),rgb(246, 0, 246)); */
    background-repeat: no-repeat;
    overflow-x: hidden;
    background: linear-gradient(90deg,#10052c,rgb(100, 4, 15));
}

/* Styling for competitions section */
#competitions{
    background: linear-gradient(90deg,#10052c,rgb(100, 4, 15));
}
#competitions h1{
    color: white;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 1000;
    padding: 30px;
    /* letter-spacing: 1rem; */
}

#competitions .container{
    /* margin: 0px; */
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    gap: 20px; */
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3,1fr);
}
#competitions .tilt-box-wrap{
    width: 350px;
    height: 350px;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
    cursor: pointer;
    
}
#competitions .tilt-box-wrap:hover{
    transition: all 0.3s linear;
    transform: scale(1.1);
}
#competitions .tilt-box{
    width: 100%;
    height: 100%;
    background: yellow;
    /* background-image: url(../assets/competitions/dance_n.jpeg); */
    background-position: center;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    /* color: purple; */
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    transition: all 0.6s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
}
#competitions .tilt-box strong{
    
    transform: translateZ(40px);
}

.text{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    font-size: 2rem;
}
#competitions .t_over{
    width:33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}
#competitions .t_over:nth-child(1){left: 0;top: 0;}
#competitions .t_over:nth-child(2){left: 33.333%;top: 0;}
#competitions .t_over:nth-child(3){left: 66.666%;top: 0;}
#competitions .t_over:nth-child(4){left: 0;top: 33.333%;}
#competitions .t_over:nth-child(5){left: 33.333%;top: 33.333%;}
#competitions .t_over:nth-child(6){left: 66.666%;top: 33.333%;}
#competitions .t_over:nth-child(7){left: 0;top: 66.666%;}
#competitions .t_over:nth-child(8){left: 33.333%;top: 66.666%;}
#competitions .t_over:nth-child(9){left: 66.666%;top: 66.666%;}

#competitions .t_over:nth-child(1):hover ~ .tilt-box{transform: rotateX(-20deg) rotateY(20deg);}
#competitions .t_over:nth-child(2):hover ~ .tilt-box{transform: rotateX(-20deg) rotateY(0deg);}
#competitions .t_over:nth-child(3):hover ~ .tilt-box{transform: rotateX(-20deg) rotateY(-20deg);}
#competitions .t_over:nth-child(4):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(20deg);}
#competitions .t_over:nth-child(5):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(0deg);}
#competitions .t_over:nth-child(6):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(-20deg);}
#competitions .t_over:nth-child(7):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}
#competitions .t_over:nth-child(8):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(0deg);}
#competitions .t_over:nth-child(9):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(-20deg);}

@media (max-width:800px) {
    body{
        overflow-x: hidden;
    }
    #competitions{
        overflow-x: hidden;
    }
    #competitions h1{
        font-size: 2.5rem;
        font-weight: 600;
    }
    #competitions .container{
        /* padding: 0 5px 0 15px; */
        /* gap: 1rem; */
        padding: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}