body{
    background: linear-gradient(90deg,#10052c,rgb(100, 4, 15));;
}

.card{
    position: relative;
    width: 350px;
    height: 190px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    margin: 0 50px;
}
.flexicont{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.flexi2{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.fl1{
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
}
.fl2{
    display: flex;
    flex-direction:row ;
    margin: 50px;
}
.fl3{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.insideorg
{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.heading1{
    text-align: center;
}
@media screen and (max-width: 800px)
{
    .flexi2{
        display: flex;
        flex-direction: column;
        margin: 50px;
        gap: 100px;
    }
    .fl1,.fl2,.fl3{
        flex-direction: column;
        gap: 100px;
    }
}
.card:hover{

    height: 350px;

}
.img8x{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow:  0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .img8x{
    width: 200px;
    height: 200px;
}
.img8x img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    margin: 0;
    /* background: #000; */
}

.card .content .details .name{
    transform: translateY(-80px);
}
#org .card .content .details{
    padding: 30px;
}
.card .content .details{
    padding: 30px;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
    /* background: #000; */
    transition: 0.5s;
    transform: translateY(150px);
}
.card .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
}
.card:hover .content .details{
    transform: translateY(0);
}
.card .content .details h2 span{
    font-size: 0.76em;
    font-weight: 500;
    opacity: 0.6;
}

.logo-content{
    font-size: 20px;
    margin-bottom: 0;
    /* margin-top: -2%; */
    text-decoration: none;
  }
.logo{
    /* height: 100%; */
    object-fit: contain;
    width: 25px;
    height: 25px;
    /* width: 100%; */
  }