*{
    color: white;
}


/* Styling for about section */


*{
    color: white;
}
body{
    background: linear-gradient(90deg,#10052c,rgb(100, 4, 15));
    /* background-image: url("../assets/images/bg\ red.jpg"); */
}

/* Styling for about section */
.AAROHNA-logo{
padding-top: 20px;
   width: 300px;
   height: 400px;
}
.nav-elements{
    background-color: #000;
}
.about-section{
    display: flex;
    justify-content: center;
    background-image: url("../assets/images/bg\ grad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
.about{
    margin: 90px;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .main{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.261);
  }
.about h1{
  
      display: inline-block;
      /* font-family: 'Crimson Text', serif; */
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 50px;
      letter-spacing: 2px;
      color: white;
  
  
  }
  .nav-list{
    color: blue;
  }
.about .secondline{
  
  
      display: block;
      /* font-family: 'Crimson Text', serif; */
      font-size: 50px;
      /* padding-top: 10px; */
      color: white;
      /* padding-left: 150px; */
  
  
  }

/* STYING OF T IN "The annual" */
/* .about-T{
    font-size: 70px;
    font-family: 'Crimson Text', serif;
    font-weight: bolder;
    color: aqua;
} */
.faqs{
    background: linear-gradient(90deg,#10052c,rgb(100, 4, 15));
    padding: 20px;
}
.about-para{
    /* background-color:#0d0a27; */
    /* background: linear-gradient(90deg,#10052c,rgba(0,0,0,0.75)); */
    background: linear-gradient(90deg,#10052c,rgb(100, 4, 15));
    margin: 50px;
    text-align: center;
    /* max-width: 40% ; */
    line-height: 25px;
    color: wheat;
    font-size: large;
    font-style: italic;
    border: 2px solid white;
    padding: 20px;
}
@media (max-width:802px){
    .about-para{
        min-width: 100%;
    }
}


