* {
  margin: 0;
  padding: 0;

}

.timeheading {
  display: block;
  color: white;
  text-align: center;
  font-family: serif;
  font-size: 1.5rem;
  padding: 10px;
  background: linear-gradient(90deg,#10052c,rgb(100, 4, 15));;
}

.wrapper {
  max-width: 90%;
  margin: 5% auto;
  padding: 0 20px;
  position: relative;
}

@media screen and (max-width:600px) {
  .wrapper {
    max-width: 96%;
  }
}

.wrapper .center-line {
  position: absolute;
  min-height: 100%;
  width: 4px;
  background: black;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

.wrapper .row {
  display: flex;
}

.wrapper .row-1 {
  justify-content: flex-start;
}

.wrapper .row-2 {
  justify-content: flex-end;
}

.wrapper .row section {
  /* background:  whitesmoke;
  border-radius: 5px; */
  width: calc(50% - 40px);
  padding: 40px;
  position: relative;
  /*
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /*-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  /*box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  /* From https://css.glass */
  background: rgba(156, 153, 153, 0.51);
  border-radius: 20px;
  border: 3px solid white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(0.8px); */
  /* -webkit-backdrop-filter: blur(0.8px); */
  border: 1px solid rgba(156, 153, 153, 1);
}

.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}

.row-1 section::before {
  right: -7px;
}

.row-2 section::before {
  left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: black;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

.row-1 section .icon {
  top: 15px;
  right: -60px;
}

.row-2 section .icon {
  top: 15px;
  left: -60px;
}

.row section .details,
/* .row section .bottom */
.row section .event {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}

.row section p {
  margin: 10px 0 17px 0;
}

.row section .bottom a {
  text-decoration: none;
  background: black;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.row section .bottom a:hover {
  transform: scale(0.90);
}

@media(max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }

  .wrapper .row {
    margin: 30px 0 3px 60px;
  }

  .wrapper .row section {
    width: 100%;
  }

  .row-1 section::before {
    left: -7px;
  }

  .row-1 section .icon {
    left: -60px;
  }
}

@media(max-width: 500px) {

  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }

  .wrapper .row {
    margin: 10px 0;
  }
}

/* .head {
    display: grid;
    justify-content: center;
   } */
.bottom a {
  display: flex;
  margin: 10px;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  color: black;
  text-align: center;
}

h1 {
  font-family: 'DM Serif Text', serif;
  font-size: 9vh;
  text-align: center;
}

h2 {
  font-family: 'Redressed', cursive;
  font-size: 5vh;
  display: inline-block;
}


.small {
  font-size: 4vh;
  font-family: 'Redressed', cursive;
  align-items: center;
}

h3 {
  font-size: 6vh;
  font-family: 'DM Serif Text', serif;
  text-align: center;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  position: bottom;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: white;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 15px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.column {
  flex-basis: 33%;
  padding: 10px;


}

h3 {
  padding-bottom: 20px;
}

.column li {
  list-style: none;
}

.column li a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.logo {
  margin-top: 20px;
}

.col3 {

  margin-left: 200px;
}

.img8x {

  padding-top: 40px;
  margin-left: 250px;
} */