
.accordion{
    
    /* width: 100%; */
    justify-content: center;
    background: #fff;
    padding-bottom: 40px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2) ;
}

.accordion .accordion-content{
    margin: 15px 0;
    background: #FFF7F0; 
    border-radius: 4px ;
    border:  2px solid #FFD6B3;
    overflow: hidden;
    cursor: pointer;
}
.accordion-content:nth-child(2){
    background-color: #f0faff;
    border-color: #cceeff;
}
.accordion-content:nth-child(3){
    background-color: rgb(255, 255, 195);
    border-color: rgb(255, 247, 7);
}
.accordion-content:nth-child(4){
    background-color: #c9fdeb;
    border-color: #03C988;
}
.accordion-content.open{
    padding-bottom:10px ;
}

.accordion-content header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    min-height: 50px;
    transition: all 0.2s linear;
}
.accordion-content.open header{
    min-height: 35px;

}

.accordion-content header .title{
    font-size:20px ;
    font-weight:500 ;
    color: #333;
}
.accordion-content header i{
    font-size: 15px;
    color: #333;
}

.accordion-content .description{
    height: 0;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    padding: 0 15px;
    transition:  all 0.2s linear;

}
.faq-heading{
    padding-top:50px;
    padding-bottom: 30px;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    /* margin: 30px 0; */

}